<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Volume Calculator</h1>
    <p>Enter the three dimensions to get the volume</p>
    <form method="POST">
      <div>
        <input
          placeholder="First Dimension"
          value="{{dim_1}}"
          name="first_dim"
        />
      </div>
      <div>
        <input
          placeholder="Second Dimension"
          value="{{dim_2}}"
          name="second_dim"
        />
      </div>
      <div>
        <input
          placeholder="Third Dimension"
          value="{{dim_3}}"
          name="third_dim"
        />
      </div>
      <p>{{output}}</p>
      <button>Calculate</button>
    </form>
  </body>
</html>
